<?xml version="1.0"?>
<launch>
	<node pkg="ig_active_reconstruction_youbot" type="yb_moveit_commander" name="yb_moveit_commander" clear_params="true" output="screen">
    	<param name="yb_joints_space_file_path" value="$(find ig_active_reconstruction_youbot)/config/yb_6_views_joints.txt" />
        <param name="yb_poses_space_file_path" value="$(find ig_active_reconstruction_youbot)/config/dome_6_views.txt" />
	</node>
</launch>
