<?xml version="1.0"?>
<launch>
  <node pkg="ig_active_reconstruction_ros" type="basic_view_planner" name="basic_view_planner" clear_params="true" output="screen">
    <param name="yb_workstations_file_path" value="$(find ig_active_reconstruction_youbot)/config/yb_24_views_workstations.txt" />   
    <param name="discard_visited" value="true" />
    <param name="max_visits" value="1" />
    <param name="cost_weight" value="1" />
    <param name="max_calls" value="10" /> <!-- default 20 -->
    <param name="random_view" value="true" />
    <param name="object_detector" value="false" />
    <rosparam param="ig_names">[OcclusionAwareIg, UnobservedVoxelIg, RearSideVoxelIg, RearSideEntropyIg, ProximityCountIg, VasquezGomezAreaFactorIg, AverageEntropyIg]</rosparam>
      <rosparam param="ig_weights">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</rosparam>
    
  </node>
</launch>
