<?xml version="1.0"?>
<launch>
  <!--params youbot-brsu-2-->
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET)"/>
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET)"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="init_pos_x" default="-2"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.8"/>

  <!-- upload robot params (joint configurations) -->
  <include file="$(find mir_default_robot_config)/upload_param.launch" >
    <arg name="robot" value="$(arg robot)" />
  </include>

    
  <!-- Start gazebo and load world -->
  <param name="/use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">	    
    <arg name="world_name" value="$(find flying_gazebo_stereo_cam)/model/world.sdf"/>
    <arg name="gui" value="true"/>	  
    <arg name="paused" value="false" />
  </include>
  
  <!-- send flying_stereo_cam urdf to param server -->
  <param name="stereo_cam_description" command="$(find xacro)/xacro.py '$(find flying_gazebo_stereo_cam)/model/flying_stereo_cam.xacro'" />
 

  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_cam" respawn="false" output="screen"
  args="-param stereo_cam_description
	-urdf
	-x 0
	-y -1
	-z 0.4
	-R 0
	-P 0
	-Y 1.570796327
	-model flying_stereo_cam">
  </node>

  <!-- stereo image processing node -->
  <include file="$(find flying_gazebo_stereo_cam)/launch/stereo_processing.launch" />
 
  <!-- Viewspace module -->
  <include file="$(find flying_gazebo_stereo_cam)/launch/simple_viewspace_module.launch" />
  
  <!-- upload youbot description -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find mir_hardware_config)/$(arg robot)/urdf/robot.urdf.xacro" />
  <!-- push youbot description-->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
        args="-param robot_description
              -urdf
              -x $(arg init_pos_x)
              -y $(arg init_pos_y)
              -z $(arg init_pos_z)
              -model youbot">
  </node>
  
  <!-- launch joint state controller -->
  <include file="$(find youbot_gazebo_control)/launch/joint_state_controller.launch" />
  <!-- launch robot state controller -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
  </node>
  <include file="$(find mir_bringup_sim)/robots/$(arg robot).launch"/>
  
  <!--include file="$(find flying_gazebo_stereo_cam)/launch/robot_interface.launch"/-->

  <node pkg="rviz" type="rviz" name="rviz" args="-d robot_interface.rviz"/>

</launch>
